<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>购物车案例实现</title>
	<link rel="stylesheet" type="text/css" href="css/css.css" />
	<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="app">
		<header id="header" class="mui-bar mui-bar-nav">
			<a href="/" id="logo"></a>
			<nav id="nav">
				<a href="">手机</a>
				<a href="">笔记本</a>
				<a href="">家居</a>
			</nav>
			<div id="user">
				<a href="">登录</a>
				<a href="">注册</a>
			</div>
		</header>
		<div id="main">
			<div class="cart">
				<!-- 表头信息 -->
				<div class="panel flex-row">
					<div class="flex-column-checkbox tal">
						<label>
							<input type="checkbox" v-model="allChecked" />
							<span class="txt">全选</span>
						</label>
					</div>
					<div class="flex-column-name tal">
						商品
					</div>
					<div class="flex-column-price">
						单价
					</div>
					<div class="flex-column-quantity">
						数量
					</div>
					<div class="flex-colunm-total">
						小计
					</div>
					<div class="flex-column-operation">
						操作
					</div>
				</div>
				<!-- 购物车列表 -->
				<ul class="cart-items-list">
					<li class="panel flex-row" v-for="item of showItems" :key="item.id">
						<div class="flex-column-checkbox tal">
							<input type="checkbox" v-model="item.checked" />
						</div>
						<div class="flex-column-name tal">
							<img :src="'img/'+item.cover" class="cover">
							<span class="name">{{item.name}}</span>
						</div>
						<div class="flex-column-price">
							<span class="price">￥{{(item.price/100).toFixed(2)}}</span>
						</div>
						<div class="flex-column-quantity">
							<span class="quantity-sub" @click="sub(item)">-</span>
							<span class="quantity-num" contenteditable>{{item.quantity}}</span>
							<span class="quantity-add" @click="add(item)">+</span>
						</div>
						<div class="flex-colunm-total">
							<span class="total">￥{{(item.price/100*item.quantity).toFixed(2)}}</span>
						</div>
						<div class="flex-column-operation">
							<a class="operation-delete" @click="removeOne(item)">删除</a>
						</div>
					</li>
				</ul>
				<!-- 底部信息 -->
				<div class="cart-footer panel flex-row">
					<div>
						<input type="checkbox" v-model="allChecked" />
						<span>全选</span>
						<a @click="removeChecked">删除</a>
					</div>
					<div>
						<span>一共选择了<strong class="quantity">{{totalNum}}</strong>件商品,总计 <strong
								class="total">{{totalPrice}}</strong>元</span>
						<span class="pay-btn " :class="{disabled:!isPay}">立即支付</span>
					</div>
				</div>

				<!-- 分页模块 -->
				<pagination :page="page" :total="total" :pagesize="pagesize" @change="change"></pagination>
			</div>
		</div>
	</div>
	<script src="./data/cardItems.js"></script>
	<script>
		Vue.component('pagination', {
			props: {
				//第几页
				page: {
					type: Number,
					default: 1
				},
				//总数
				total: {
					type: Number,
					default: 0
				},
				//每页几条数据
				pagesize: {
					type: Number,
					default: 1
				}
			},
			data() {
				let pages = Math.ceil(this.total / this.pagesize)
				return {
					pages,
				}
			},
			template: `
					<div class="pagination-container">
						<div class="pagination">
							<a href="" class="prev" :class="{current:isPre}" @click.prevent="prePage">上一页</a>
							<a href="" @click.prevent="changePage(p)" v-for="p of pages" :class="{current:(p === page)}">{{p}}</a>
							<a href="" class="next" :class="{current:isNext}" @click.prevent="nextPage">下一页</a>
						</div>
					</div>
				`,
			methods: {
				changePage(p) {
					console.log(this.page);
					if (p !== this.page) {
						//改变页数 注意取消a标签的默认事件 注意这是自定义事件
						this.$emit('change', p);
					}
				},
				nextPage() {
					if ((this.page >= 1) && (this.page < this.pages)) {
						this.$emit('change', this.page + 1);
					}
				},
				prePage() {
					if (this.page > 1) {
						this.$emit('change', this.page - 1);
					}
				}
			},
			computed: {
				isPre() {
					return this.page === 1;
				},
				isNext() {
					return this.pages === this.page
				}
			}
		});
		/**
		 * 通过案例掌握了 模板的语法 以及渲染列表 计算属性 事件绑定 双向绑定
		 */
		let vm = new Vue({
			el: '#app',
			data: {
				list: cartItems,
				page: 1,
				pagesize: 1,
				total: cartItems.length
			},
			//计算属性 可以监听所属属性的变化而做出对应的改变
			computed: {
				allChecked: {
					get() {
						return this.list.every(item => item.checked)
					},
					set(value) {
						this.list.forEach(item => {
							item.checked = value
						})
					}
				},
				totalNum() {
					let checkList = this.list.filter(item => item.checked);
					return checkList.reduce((prev, curr, index) => {
						return prev + curr.quantity
					}, 0)
				},
				totalPrice() {
					let checkList = this.list.filter(item => item.checked);
					return checkList.reduce((pre, curr, index) => {
						let price = (curr.quantity * (curr.price / 100)).toFixed(2)
						return pre + Number.parseInt(price)
					}, 0)
				},
				isPay() {
					return this.list.some(item => item.checked)
				},
				showItems() {
					//list page pagesize
					//获取分页的数据 a b c d   page = 1  pagesize = 1  return a
					let start = (this.page - 1) * this.pagesize;//开始的位置
					let end = start + this.pagesize;
					return this.list.slice(start, end);
				}
			},
			//一般用于事件绑定的方法
			methods: {
				sub(item) {
					if (item.quantity > 1) {
						item.quantity--;
					}
				},
				add(item) {
					if (item.quantity > 0) {
						item.quantity++;
					}
				},
				removeOne(item) {
					let index = this.list.indexOf(item);
					this.list.splice(index, 1)
				},
				removeChecked() {
					this.list = this.list.filter(item => !item.checked)
				},
				change(p) {
					this.page = p;
				}
			}
		});
	</script>
</body>

</html>