<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="a++">{{a}}</button>
        <button @click="changeB" ref="bEle">{{b}}</button>
        <kkb-c1 :v="a" v-if="a<5">
            <kkb-coomponent></kkb-coomponent>
        </kkb-c1>
    </div>
    <script>
        /**
         * 组件生命周期：组件的创建 - 销毁这段生命过程的周期
         * 创建阶段
         * 挂载阶段
         * 更新阶段
         * 卸载阶段
         */
        Vue.component('kkb-coomponent',{
            data(){
                return {
                    a:1
                }
            },
            template:`<div>kkb-coomponent{{a.b.c}}</div>`
        })
        Vue.component('kkb-c1',{
            props:['v'],
            //只能在当前组件用
            template:`<div>
                {{v}}
                kkb-c1
                <kkb-c2></kkb-c2>
                <button @click="c++">{{c}}</button>
                <h1 v-if="error">
                    发生错误，请联系管理员
                </h1>
                <slot v-else></slot>
            </div>`,
            data(){
                return {
                    c:1,
                    timer:null,
                    error:false
                }
            },
            //注册子组件的局部组件
            components:{
                //只能在当前注册的组件内使用 不能在其他 父级 子级使用
                'kkb-c2':{
                    template:`<div>kkb-c2</div>`
                }
            },
            errorCaptured(){
                console.log('子组件发生错误了');
                this.error = true;
            },
            beforeCreate(){
                console.log('kkb-c1','beforeCreate');
            },
            created(){
                console.log('kkb-c1','created');
                this.timer = setInterval(() => {
                    console.log(1);
                }, 1000);
            },
            beforeMount(){
                console.log('kkb-c1','beforeMount');
            },
            mounted(){
                console.log('kkb-c1','mounted');
            },
            beforeUpdate(){
                console.log('kkb-c1','beforeUpdate');
            },
            updated(){
                console.log('kkb-c1','updated');
            },
            beforeDestroy(){
                console.log('kkb-c1','beforeDestroy');
                //销毁定时器
                clearInterval(this.timer);
            },
            destroyed(){
                console.log('kkb-c1','destroyed');
            }
        });
        new Vue({
            el:"#app",
            data:{
                a:0,
                b:1
            },
            beforeCreate(){
                console.log('beforeCreate');
            },
            created(){
                console.log('created:进行ajax请求异步数据的获取、初始化数据');
                //进行ajax请求异步数据的获取、初始化数据
            },
            beforeMount(){
                console.log('beforeMount');
            },
            mounted(){
                console.log('mounted：挂载元素dom节点的获取');
            },
            beforeUpdate(){
                console.log('beforeUpdate');
            },
            updated(){
                console.log('updated:任何数据的更新');
            },
            beforeDestroy(){
                console.log('beforeDestroy');
            },
            destroyed(){
                console.log('destroyed');
            },
            methods:{
                //changeB => this.a => this.a setter => 数据依赖手机过程 => a => render
                changeB(){
                    this.b++;
                    console.log('??',this.b,this.$refs.bEle.innerHTML);
                    setTimeout(() => {
                        console.log("另一层宏任务获取:");
                        console.log('??',this.b,this.$refs.bEle.innerHTML);
                    }, 0);
                    //数据发生改变以后，同时渲染完成以后再去调用
                    //针对单一事件更新数据后立即操作dom
                    this.$nextTick(()=>{
                        console.log('针对单一事件更新数据后立即操作dom');
                        console.log('??',this.b,this.$refs.bEle.innerHTML);
                    })
                }
            }
        });
    </script>
</body>
</html>