#app
  .el-header
    padding 0
    height auto
  .el-menu.el-menu--horizontal
    border-bottom none

  .el-tabs--border-card>.el-tabs__header
    background rgba(255,255,255,0.5)
  .el-tag.el-tag--info
    padding: 0 10px
    margin 5px 10px
    cursor pointer
    min-width 56px
    text-align: center