<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <!-- <div id="app">{{content}}</div> -->
    <!-- <div>{{content}}</div> -->
    <div id="app">
        <input type="text" id="todoname" v-model="inputValue">
        <button v-on:click="handleBtn">提交</button>
        <ul>
            <!-- <li v-for="item in list">{{item}}</li> -->
            <todo-item :content="item" index="index" v-for="(item,index) in list" @delete="handleItemDelete">
            </todo-item>
        </ul>
    </div>
    <script>
        //组件化 
        //全局组件
        // Vue.component('TodoItem', {
        //     props: ['content'],//设置接收参数
        //     template: "<li>{{content}}</li>"
        // });

        //局部组件 注意局部组件需要注册到Vue实例中
        //v-bind:content 简写 -> :content
        var TodoItem = {
            props: ['content','index'],//设置接收参数
            template: "<li @click='handleItemClick'>{{content}}</li>",//组件的模板 v-on:click = @click
            methods: {
                handleItemClick:function(){
                    console.log("item click");
                    //子组件向父组件传值 子组件自定义一个事件

                    this.$emit("delete",this.index);
                }
            },
        }

        

        //创建Vue的实例
        var app = new Vue({
            el: "#app",//负责管理的区域 接管div标签内的所有内容
            components:{
                TodoItem:TodoItem,
            },//注册局部组件
            data: {
                //定义一些数据
                content: "hello world1",
                list: [],
                inputValue: '',
            },
            methods: {
                handleBtn: function () {
                    //获取data的inputValue
                    console.log("handleBtn:" + this.inputValue);
                    this.list.push(this.inputValue);
                    this.inputValue = '';//清空input
                },
                handleItemDelete:function(index){
                    console.log("delete",index);
                    this.list.splice(index,1);
                }
            },
        });
        //v-on:click="handleBtn" 绑定一个事件
        //v-for:循环列表
        //v-model:数据的双向绑定 监听值的变化
        // setTimeout(() => {
        //     app.$data.content = 'bay world';
        // }, 2000);



    </script>
</body>

</html>