<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.prim.picker.primpicker_core">

    <application>
        <activity android:name="com.prim.picker.primpicker_core.ui.PrimPickerActivity"/>
        <activity android:name="com.prim.picker.primpicker_core.ui.PerviewActivity"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>
