<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- in / of 不用index作为key值 使用后台返回的ID作为key值 -->
        <!-- vue 不能使用下标的方式去改变数组,list[0] = .... 这样是无法刷新页面的
            而是使用 push pop shift unshift splice sort reverse 
            vm.list.splice(1,1,{id:"222",text:"1"}); 改变数组中的某一个值
            还可以通过改变引用的方式改变数组
            vm.list = [{
                        id: "021233309",
                        text: "hello"
                    },
                    {
                        id: "0212333091",
                        text: "dell"
                    }, {
                        id: "0212333092",
                        text: "hello2"
                    }];
        -->
        <!-- template 模板占位符 不会被真正的渲染在页面上 这样就不用:key优化了 :key="item.id" -->
        <template v-for="(item,index) of list" >
            <div>
                {{item.text}}-----{{index}}
            </div>
            <span>
                {{item.text}}
            </span>
        </template>

        <!-- 对象进行循环 向对象中新增一个属性 vm.userInfo.text="text"; 数据变了 但是页面没有变化
            可以通过改对象的引用新增属性：这样可以使页面进行刷新
            vm.userInfo = {
                    name:"dell",
                    age:27,
                    gender:"man",
                    salary:"secret",address:"北京"
                }
        -->
        <div v-for="(item,key,index) of userInfo">
            {{key}}:{{item}}-----{{index}}
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                list: [
                    {
                        id: "021233309",
                        text: "hello"
                    },
                    {
                        id: "0212333091",
                        text: "hello1"
                    }, {
                        id: "0212333092",
                        text: "hello2"
                    }
                ],
                userInfo:{
                    name:"dell",
                    age:27,
                    gender:"man",
                    salary:"secret",
                }
            }
        });
    </script>
</body>

</html>