<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.set 操作</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <p>Vue.set()操作对象</p>
        <div v-for="(item,key,index) of userInfo">
            {{key}}:{{item}}-----{{index}}
        </div>
        <p>Vue.set()操作列表</p>
        <div v-for="(item,index) of list">
            {{item}}----{{index}}
        </div>
        <button @click="addObjAttr">给对象添加一个属性</button>
        <button @click="updateObjValue">修改对象某个属性的值</button>
        <button @click="addArray">数组添加一条</button>
        <button @click="updateArray">修改数组某个索引的值</button>
    </div>
    <script>
        //Vue.set() 灵活的更新数组以及对象 刷新页面的问题
        const vm = new Vue({
            el:"#app",
            data:{
                userInfo:{
                    name:'jake',
                    age:28,
                    gender:'man'
                },
                list:[
                    1,
                    2,
                    3,
                    4
                ]
            },
            methods: {
                addObjAttr:function(){
                    Vue.set(this.userInfo,"address","beijing");
                },
                updateObjValue:function(){
                    Vue.set(this.userInfo,"name","prim");
                },
                addArray:function(){
                    Vue.set(this.list,4,5);
                },
                updateArray:function(){
                    Vue.set(this.list,1,0);
                }
            },
        });
    </script>
</body>
</html>